
<h2>Customers</h2>

<div *ngIf="customers$ | async as customers">
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Contact Name</th>
    <th></th>
  </tr>
  <tr *ngFor="let customer of customers$ | async">
    <td>{{customer.customerId}}</td>
    <td>{{customer.companyName}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.city}}</td>
    <td>{{customer.contactName}}</td>
    <td class="text-right"><button class="btn btn-info" [routerLink]="['/customer/edit', customer.customerId]">Edit</button></td>
  </tr>
</table>

</div>
